<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${movie.getTitle()}+' ('+${movie.getYear()}+')'"/>
</head>

<body>
<!--movie-info-->
<h1 th:text="${movie.getTitle()}+' ('+${movie.getYear()}+')'"/>

<br>
<div th:text="${movie.getDescription()}"/>

<br><br>
<div>Director: <span th:text="${movie.getDirector()}"/></div>

<br><br>
<div>
    <span>Views: </span><span th:text="${movie.getViews()}"/>
    <span>Rating: </span><span th:text="${movie.getRating()}"/>
</div>
<!---->

<!--your-rate-input-->
<br><br>
<div th:if="${#httpServletRequest.getRemoteUser()} != null">
    <form th:if="${rate.getRateId() == 0}" th:action="@{/movie/addRate}" th:method="POST">
        <input name="movieId" type="hidden" th:value="${movie.getMovieId()}">

        <label><input name="ratePoints" type="radio" th:value="1">1</label>
        <label><input name="ratePoints" type="radio" th:value="2">2</label>
        <label><input name="ratePoints" type="radio" th:value="3">3</label>
        <label><input name="ratePoints" type="radio" th:value="4">4</label>
        <label><input name="ratePoints" type="radio" th:value="5">5</label>
        <label><input name="ratePoints" type="radio" th:value="6">6</label>
        <label><input name="ratePoints" type="radio" th:value="7">7</label>
        <label><input name="ratePoints" type="radio" th:value="8">8</label>
        <label><input name="ratePoints" type="radio" th:value="9">9</label>
        <label><input name="ratePoints" type="radio" th:value="10">10</label>

        <input type="submit" th:value="Rate">
    </form>
</div>
<!---->

<!--your-rate-show-->
<br><br>
<div th:if="${#httpServletRequest.getRemoteUser()} != null">
    <form th:if="${rate.getRateId() != 0}" th:action="@{/movie/deleteRate}" th:method="POST">
        <input name="movieId" type="hidden" th:value="${movie.getMovieId()}">
        <input name="rateId" type="hidden" th:value="${rate.getRateId()}">

        <span>Your rate - </span><span th:text="${rate.getPoints()}"/>

        <input type="submit" th:value="Unrate">
    </form>
</div>
<!---->

<!--comment-write-->
<br>
<form th:if="${#httpServletRequest.getRemoteUser()} != null"
      th:action="@{/movie/addComment}" th:method="POST">
    <input name="movieId" type="hidden" th:value="${movie.getMovieId()}">

    <label><textarea name="commentContent" placeholder="Leave a comment" cols="20" rows="3"></textarea></label>

    <br><input type="submit" th:value="Submit">
</form>
<!---->

<!--comment-show-->
<br>
<th:block th:if="${!movie.getComments().isEmpty()}"
          th:each="eachComment : ${movie.getComments()}">
    <br><br>
    <span th:text="'{'+${eachComment.getTime().getHours()}+':'+${eachComment.getTime().getMinutes()}+'}'"/>
    <span th:text="'['+${eachComment.getUser().getUsername()}+']'"/>
    <span th:text="${eachComment.getContent()}"/>
    <form th:if="${eachComment.getUser().getUsername().equals(#httpServletRequest.getRemoteUser())}"
          th:action="@{/movie/deleteComment}" th:method="POST"
          style="display: inline-block">
        <input name="movieId" type="hidden" th:value="${movie.getMovieId()}">
        <input name="commentId" type="hidden" th:value="${eachComment.getCommentId()}">
        <input type="submit" th:value="Delete">
    </form>
</th:block>
<!---->
</body>

</html>