<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="java">
<head>
    <meta charset="UTF-8">
    <title>MovieGo</title>
</head>
<body>

<h2 th:if="${#httpServletRequest.remoteUser} != null" th:text="'Hello, '+${#httpServletRequest.remoteUser}"></h2>
<form th:if="${#httpServletRequest.remoteUser} == null" th:action="@{/login}" th:method="GET">
    <input type="submit" value="Log in"/>
</form>
<form th:if="${#httpServletRequest.remoteUser} == null" th:action="@{/register}" th:method="GET">
    <input type="submit" value="Register"/>
</form>
<form th:if="${#httpServletRequest.remoteUser} != null" th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Log out"/>
</form>

<h1>MovieGo</h1>

<form th:method="POST" th:action="@{/movie/search}" th:object="${movieName}">
    <label>
        <input name="movieName" type="text" th:value="${movieName}">
    </label>
    <input type="submit" value="search">
</form>

<br><br>

<table>
    <tr th:each="movie : ${movies}" th:if="${!movies.isEmpty()}">
        <td>
            <a th:href="@{/movie/{linkTitle}(linkTitle=${movie.getId()})}" th:method="GET"
               th:text="${movie.getMovieName()}"></a>
        </td>
        <td><p th:text="${movie.getRate()}"></p></td>
        <td><p th:text="${movie.getAuthor()}"/></td>
    </tr>
</table>

<h3 th:if="${movies.isEmpty()}">Ничего не найдено...</h3>

</body>
</html>