<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="java">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<div th:if="${param.error}">Неверные логин или пароль</div>
<form th:action="@{/login}" th:method="POST" th:object="${user}">
    <label>Логин : <input type="text" name="username"/></label>
    <br>
    <label>Пароль : <input type="password" name="password"/></label>
    <br>
    <input type="submit" value="Log in"/>
</form>
</body>
</html>